@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:wght@100&family=Sacramento&family=Staatliches&family=Tangerine:wght@700&family=Unica+One&family=Zen+Kurenaido&display=swap');
.container{
    height: 100vh;
    background-color: whitesmoke;
    transition: 1s;
}
.recquote{
    max-width:30vw;
    font-family: 'Staatliches', cursive;
    font-size: 1.2vw;
    margin-left: 4vw;
    margin-top: 2vh;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color:rgb(0, 11, 17);
    transition:1s;
}
.d{
    color:whitesmoke;
}
.kanyepic{
    opacity: 0;
    position:absolute;
}
.one{
    top: 10vh;
    width: 20vw;
    height:auto;
    animation: fadeinn 3s forwards, float 3s ease-in-out infinite; 
}
.two{
    top: 10vh;
    left: 80vw;
    width: 10vw;
    height:auto;
    animation: fadeinn 2s 2s forwards, float 4s ease-in-out infinite;
}
.three{
    top: 56vh;
    left: 72vw;
    width: 15vw;
    height:auto;
    animation: fadeinn 4s 1s forwards, float 5s ease-in-out infinite; 
}
.four{
    top: 60vh;
    left: 15vw;
    width: 12vw;
    height:auto;
    animation: fadeinn 3s 3s forwards, float 6s ease-in-out infinite;
}
.darkcontainer{
    background-color:rgb(0, 11, 17)
}
.lightdark{
    position: absolute;
    height: 7vh;
    width: 100px;
    background-image: url(Darkmode.png);
    background-repeat: no-repeat;
    background-size: cover;
    top: 88vh;
    left: 90vw;
    border-radius: 1.5vw;
    transition: 1s;
}
.lightdark2{
    background-image: url(Lightmode.png);
}
.withbutton{
    height: 90vh;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    opacity: 1;
}
.quote{
    width: 50vw;
    font-family: 'Staatliches', cursive;
    font-size: 3.5vw;
    text-align: center;
    color:rgb(0, 11, 17);
    transition: 1s;
}
.darkquote{
    color: whitesmoke;
}
.quoteflex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}
.kanye{
    animation: fadein 1s forwards;
    padding-top: 5vh;
    width: 50vw;
    font-family: 'Sacramento', cursive;    
    font-size: 5vw;
    text-align: center;
    font-weight: 500;
    color: rgb(0, 11, 17);
    transition: 1s;
}
.darkkanye{
    color: whitesmoke;
}
.create{
    animation: fadein 3s forwards, float 5s 3s ease-in-out infinite;
    width: 10vw;
    background-color: rgb(18, 45, 61);
    border-radius: 5vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    height: 6vh;
    font-family: 'Staatliches', cursive;
    letter-spacing: .25em;
    margin-top: 5vh;
    color: whitesmoke;
    transition: 1s;
    position: absolute;
    top: 80vh;
    left: 45vw;
}
.darkcreate{
    background-color: whitesmoke;
    color: rgb(0, 11, 17);;
}
.create:hover{
    background-color: rgb(95, 150, 182);
    height: 7vh;
}
@keyframes fadein{
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes fadeinn{
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: .5;
        transform: translateY(0px);
    }
}
@keyframes float {
    0%{
        transform: translateY(0px)
    }
    50%{
        transform: translateY(-20px)
    }
    100%{
        transform: translateY(0px)
    }
}
